.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body, h1, h2, h3, p {
  margin: 0;
}

:root {
  /* primary */ 
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* neutral */ 
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* ==================
   Typography
===================== */

/* Font Colours */ 

h1, .blog-post-title, .nav-item a {
  color: var(--very-dark-blue);
}

.sidebar-title {
  color: var(--soft-orange);
}

.sidebar-post-title {
  color: var(--off-white); 
}

.blog-post-body {
  color: var(--dark-grayish-blue);
}

.blog-post-number, .sidebar-post-body {
  color: var(--grayish-blue);
}

.read-more-btn {
  color: var(--off-white);
}

@media screen and (min-width: 600px) {
  .nav-item a {
    color: var(--dark-grayish-blue);
  }
}

/* Font Styles */ 

.nav-item a {
  text-decoration: none;
}

.blog-post-feat-title {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 800;
  width: 80vw;
  line-height: 1;
}

.sidebar-title, .blog-post-number {
  font-size: 2rem;
}

p {
  font-size: 15px;
  line-height: 1.8;
}

.sidebar-post-title {
  line-height: 2;
}

.sidebar-post-body {
  opacity: 0.9;
}

.blog-post-title {
  font-weight: 800;
  font-size: 1.1rem;
}

/* ==================
   Layout
===================== */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 3rem 1rem;
}

.container {
  display: grid;
}

/* Header */ 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.mobile-menu {
  cursor: pointer;
  z-index: 3;
  padding: 0.5rem 0;
}

nav {
  /* display: none; */ 
  position: fixed;

  background: white;
  width: 60vw;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms;
}

.nav-open-nav {
  transform: translateX(-100%);
}

.nav-open-body {}

.nav-open-body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,26, 0.6);
  z-index: 2;
}

.close-btn {
  position: absolute;
  padding: 1.5rem;
  right: 0;
  top: 0;
  z-index: 5;
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  height: 100%;
}

.nav-item a:hover {
  opacity: 0.8;
}

.nav-list {
  margin-top: 10rem; /* ------------ */
  margin-left: 1.5rem; /* ------------ */
}

.nav-item {
  margin: 0.75rem 0; /* ------------ */ 
}

.nav-item a {
  padding: 0.5rem 0; /* ------------ */ /* does nothing visually, just adds extra room for hover effect */
}

/* Main */ 
.feat-img-desktop {
  display: none;
}

.feat-img-mobile {
  display: block;
}

.blog-post-feat-img {
  width: 100%;
  margin-bottom: 10px;
}

.read-more-btn {
  display: block;
  background: var(--soft-red);
  padding: 10px 22px; 
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  width: 180px;
  margin-top: 30px;
  font-size: 14px;
}

.read-more-btn:hover {
  background: #ee3b2b;
}

/* Sidebar */ 
.sidebar {
  background: var(--very-dark-blue);
  margin: 60px 0;
  padding: 25px;
}

.sidebar-recent-post {
  border-bottom: 1px solid rgba(197, 198, 206, 0.4);
  margin: 1.3rem 0;
  padding-bottom: 1.3rem;
}

.sidebar-recent-post:last-child {
  border-bottom: none;
  padding-bottom: unset;
  margin-bottom: 0;
}

/* Blog Post Content */ 
.blog-post {
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
}

.blog-post-title {
  margin: 10px 0;
}

.blog-post-img {
  width: 100px;
  max-height: 127px;
  align-self: flex-end;
}


.blog-post-content {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 850px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "header header"
      "main-img main-img"
      "main-title sidebar"
      "main-body sidebar"
      "info-1 sidebar"
      "info-2 info-3";
    gap: 2rem;
  }

  header { grid-area: header; }
  .blog-post-feat-img { grid-area: main-img; }
  .blog-post-feat-title { grid-area: main-title; }
  .blog-post-body { grid-area: main-body; }
  .sidebar { grid-area: sidebar; }
  .blog-post-1 { grid-area: info-1; }
  .blog-post-2 { grid-area: info-2; }
  .blog-post-3 { grid-area: info-3; }

  /* Header */ 
  
  header {
    padding-bottom: 0;
  }

  .mobile-menu {
    display: none;
  }

  nav {
    display: block;
    position: relative;
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: row;
  }
  
  .nav-item {
    margin-left: 2rem;
  }

  /* Main */ 

  .feat-img-desktop {
    display: block;
  }
  
  .feat-img-mobile {
    display: none;
  }

  .blog-post-feat-title {
    width: unset;
    font-size: 3rem;
    margin: 0;
  }

  .blog-post-feat-img {
    margin: 0;
  }

  /* Sidebar */ 

  .sidebar {
    margin: unset;
  }

  /* Blog Post Content */ 

  .blog-post {
    margin-top: 20px;
  }

  .blog-post-content {
    justify-content: space-between;
  }

  .blog-post-body {
    line-height: 1.6;
  }
}



@media screen and (min-width: 600px) and (max-width: 1060px) {
  .blog-post-1 {
    margin-bottom: 0;
    margin-top: 30px;
  }
}



@media screen and (min-width: 1060px) {
  body {
    height: 100vh;
  }

  .container {
    max-width: 1100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "header header header"
      "main-img main-img sidebar"
      "main-title main-body sidebar"
      "info-1 info-2 info-3";
  }

  .blog-post-feat-title {
    font-size: 3.5rem;
  }

  .blog-post {
    margin-top: 30px;
  }
}



/* Learning notes 

1) 
I would say for next time since it said body 15px (paragraph), just put body font size to 15px and then use rem to resize all other fonts based off that. 
If I was to do it now, I would have to adjust the font size for everything i've set slightly. 

also 1 of the reasons I like pixels is because on chrome you can use the scroll wheel to adjust it to the precise width I want. Just use rems and decimal points e.g. 2.1, 2.2, ...


2) the tinted bg with ::before, 
this adds the bg affect when mobile menu is open, we use this instead of just changing the bg of body because it adds this tint effect to every element, the img element, the text. 

*/ 